.head {
  background: #8F4586;
}
.search {
  border: 2px solid #d5dfef;
}
.filter li {
  margin: 0;
  padding: 10px;
  list-style: none inside none;
  border-top: 1px solid #d5dfef;
  border-left: 3px solid #eb9bf7;
}
.filter li:hover {
  border-left-color: #9903af;
}
input[type="button"] {
  background-color: #d5dfef;
}
.content {
  min-height: 800px;
}
.content {
  width: 980px;
}
.links,
.nav {
  min-width: 980px;
  width: 980px;
}
#carlender caption {
  color: red;
  display: flex;
}
.gray-text {
  color: gray;
}
#calender {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f7fa;
  color: #333;
  padding: 5px;
}
#cal-header {
  background-color: #8F4586;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 50px;
}
#cal-header input[type="button"] {
  font: 24px;
  background: transparent;
  border: none;
  margin: 0 10px;
  color: #d5dfef;
}
#cal-header input[type="button"]:hover {
  color: white;
}
#calender table {
  margin: 5px;
  padding: 10px;
  border: none;
  width: 100%;
  border-collapse: collapse;
}
#calender tr {
  border: none;
}
#calender td {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding: 3px;
  text-align: center;
}
#calender .week {
  border: none;
}
#calender .today {
  color: white;
  border-radius: 10px;
  background: #8F4586;
}
