html{
    position: relative;
    min-width: 100%;
}
h1
{
    font-size: 36px;
}
h2{
    font-size:20px;
}

p{
    font-size: 16px;
}

body{
    margin-bottom: 400px;
    padding: 0;
    background:#e5e5e5;
}

.footer
{
    width: 100%;
    margin: 0;
    height: 400px;
    background: black;
    position: absolute;
    bottom: 0px;
}
.footer>.menu{
    height: 50px;
    border-bottom: 0.5px solid white;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;/*Horizontal*/
    align-items: center;    /*Vertical*/
}

.head{

    padding: 20px 10px 0 10px;
    position: relative;
    min-width: 1000px;
    background: #8F4586;
}

.icon{
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.nav{
    height:80px;
    margin: 0 auto;
    position: relative
}

.head .menu{
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.menu li{
    display: inline;
    margin: 10px;   
}

a{
    color: white;
    text-decoration-color: aliceblue;
    text-decoration: none;
}

.banner{
    position: relative;
    min-width: 1020px;
}

.banner img
{
    width: 100%;
    height:auto;
}
.banner .info
{
    background:  linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0.25) 25%, transparent);
    width: 200px;
    min-height: 100px;
    color:white;
    position: absolute;
    bottom: 20px;
    right:20px;
}

.content
{
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 150px;
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;

}
.content img{
    width: 240px;
    height: 240px;
}
.content .cities
{   
    padding: 10px;
    width: 300px;
    height: 300px;
    background: white;
    float: left;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

.profile
{
    padding-bottom:10px;
    min-height: 300px;
    width: 100%;
    background:white;
    
}

.photo
{ 
    width: 200px;
    position: relative;
    top: -100px;
    margin: 0 auto;
}

.photo img{
    width:200px;
}

.intro
{
    position: relative;
    top: -100px;
    margin: 0 auto;
    width:300px;
}

.links{
    color:white;
    min-height: 100px;
}

.footer a
{
    color:gainsboro;
}

h3
{
    font-weight: normal;
    font-size: 14px;
    color:gainsboro;
    
}

.footer ul{
    
    list-style: none outside none;
}

.links{
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;/*Horizontal*/
    align-items: center;    /*Vertical*/
}

.copyright{
    padding-top: 20px;
    min-height: 100px;
    margin: 0 auto;
}

.copyright h3,p{
    margin: 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;/*Horizontal*/
}

.sidebar{
    position: absolute;
    right: 0px;
    width: 280px;
    min-height: 80px;
    background: red;
}

.blog{
    min-height: 80px;
    background: green;
}

.search-form{
    background: white;
    padding: 10px;
}
.search{
    background: white;
    padding: 3px;
    display: flex;
}

.search input{
    border: none;
}

.search i{
    font-size: 30px;
}
