@light-gray:#d5dfef;
.search{
    border: 2px solid @light-gray;
}

input[type="button"]{
    background-color: @light-gray;
}

@min-content-height:800px;
.content{
    min-height: @min-content-height;
}

@content-width:980px;
.content{
    width: @content-width;
}

.links, .nav{
    min-width: @content-width;
    width:@content-width;
}
